* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Exo 2', sans-serif;
}

body {
    background-color: #21273b;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1, section {
    margin: 0 auto;
}

h1 {
    padding: 60px 0;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: normal;
}

section{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.padre {
    padding: 40px;
    margin: 10px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #ffffff;
    transition: box-shadow .2s;
}

.padre:hover{
    box-shadow: 0px 0px 15px #ffffff;
    transition: ease .2s;
}

.figure{
    width: 100px;
    height: 100px;
}

.figure2{
    width: 80px;
    height: 80px;
}

.cuadrado {
    background-color: #00ffff;
}

.circulo {
    background-color: #ff00ff;
    border-radius: 50%;
}

.triangulo {
    border-top: solid transparent 0px;
    border-left: solid transparent 60px;
    border-right: solid transparent 60px;
    border-bottom: solid #ffff00 100px;
}

.rombo {
    background-color: #00ff00;
    transform: rotate(45deg);
}

.brillo {
    background-color: #ff0000;
    transform: rotate(45deg) skewX(10deg) skewY(10deg);
}

.paralelogramo {
    width: 160px;
    border-top: solid transparent 0px;
    border-left: solid transparent 40px;
    border-right: solid transparent 40px;
    border-bottom: solid #ff8800 80px;
}

.ovalo {
    width: 160px;
    height: 100px;
    background-color: #0051ff;
    border-radius: 100%;
}

.medialuna {
    width: 160px;
    height: 80px;
    background-color: rgb(89, 0, 255);
    border-radius: 100px 100px 0 0;
}
