* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f9f9f9;
}

main {
    height: 90vh;
    overflow: hidden;
}

.carousel {
    height: 100%;
    position: relative;
}

.slider {
    height: 100%;
}

.arrows {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrows a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    padding: 0 20px;
    background: #ffffff10;
    transition: background ease 0.5s;
}

.arrows a:hover {
    background: #ffffff40;
}

.material-symbols-outlined {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

#carousel-1 {
    background: url('resources/marvel-capi.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

#carousel-2 {
    background: url('resources/marvel-toni.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

#carousel-3 {
    background: url('resources/marvel-thor.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}