* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #040a10;
    font-family: "Sofia", sans-serif;
    font-weight: lighter;
}

h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 60px;
}

.container {
    padding: 30px;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 10px 50px 10px #ae00ff50;
    border-radius: 10px;
    border: 1px solid #ff80ff;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 40px;
    height: 10px;
    border-radius: 50px;
    background: #fff;
    opacity: 0.5;
    transition: opacity ease 0.5s;
}

.slider-nav a:hover {
    opacity: 1;
}