html body {
    font-family: 'EXO 2', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0044bb;
}

.form-container {
    background-color: #ffffff;
    width: 75%;
    border-radius: 10px;
    overflow: hidden;
    height: 80%;
    display: flex;
    align-items: center;
}

.form-container .login-container {
    width: 500px;
    margin: 0 auto;
    padding: 0 50px;
}

.form-container .login-container > h2 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.form-container .login-container > p,
.form-container .login-container > span {
    text-align: center;
    color: #777;
}

.form-container .login-container label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

.form-container .login-container input.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #bbb;
    border-radius: 6px;
    transition: 800ms;
}

.form-container .login-container input.input:focus {
    transition: 800ms;
    border-radius: 30px;
    outline: solid 2px #00eeff;
}

.form-container .login-container .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container a {
    color: #0044bb;
    text-decoration: none;
}
.form-container a:hover {
    text-decoration: underline;
}

.txt-select {
    margin: 10px 0;
}

.form-container .login-container .providers {
    display: flex;
    gap: 10px;
    text-align: center;
    flex-wrap: nowrap;
}

.btn {
    border: none;
    padding: 15px 0;
    width: 100%;
    font-weight: bold;
    display: block;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.btn-login {
    background-color: #000;
    color: #fff;
}

.btn.btn-login:hover {
    background-color: #00eeff;
    color: #000;
}

.btn.btn-facebook {
    background-color: #0C6BE6;
    color: #fff;
}

.btn.btn-facebook:hover {
    background-color: #00eeff;
    color: #000;
}

.btn.btn-google {
    background-color: #CF382B;
    color: #fff;
}

.btn.btn-google:hover {
    background-color: #00eeff;
    color: #000;
}

.form-container .welcome-screen-container {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-verde-degradado-moderno_343694-2048.jpg?w=1380&t=st=1671570428~exp=1671571028~hmac=479ff19fc965c3e3b0bda0e43206824f1747415f3d7ea1c49abc017e37650dd7);
    height: 100%;
    width: 50%;
}

@media screen and (max-width: 555px){
    .form-container .welcome-screen-container {
        display: none;
    }
}

