html body {
    font-family: 'EXO 2', sans-serif;
    padding: 0;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48;
        font-size: 50px;
    }

.notification {
    width: 60px;
    margin: 100px auto;

    animation: ring 4s 0.7s ease-in-out infinite;
    transform-origin: 50% 40px; /*Clavo*/
}

.notification .count {
    --size: 36px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff5100;
    color: #ffffff;
    border: solid 2px white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    max-width: var(--size);
    max-height: var(--size);
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    top: 30px;
    left: 27px;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    3% {
        transform: rotate(40deg);
    }

    6% {
        transform: rotate(-40deg);
    }

    10% {
        transform: rotate(35deg);
    }

    14% {
        transform: rotate(-35deg);
    }

    18% {
        transform: rotate(20deg);
    }

    22% {
        transform: rotate(-20deg);
    }

    26% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(-10deg);
    }

    34% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}