* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

html body {
    font-family: 'EXO 2', sans-serif;
}

/*
                                                                                            ┌───────────────┐
│││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││││ F L E X B O X │
                                                                                            └───────────────┘
_____________________________________________________________________________________________________________
\ PROPIEDAD           \ VALOR
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
► display           : flex
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
► flex-direction    : row  \  column  \  column-reverse  \  row-reverse
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
► justify-content   : flex-start  \  flex-end  \  center  \  space-between  \  space-around  \  space-evenly
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
► align-items       : flex-start  \  flex-end  \  center  \  stretch  \  baseline
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
► align-content     : flex-start  \  flex-end  \  center  \  stretch  \  space-between  \  space-around
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
► align-seld        : flex-start  \  flex-end  \  center  \  baseline  \  stretch  \  auto
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
► order             : #numero_positivo#
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
► flex-grow         : #numero_positivo#
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
► flex-shrink       : #numero_positivo#
-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
► flex-wrap         : nowrap  \  wrap  \  wrap-reverse
______________________________________________________________________________________________________________

▼ display: flex;
    Permite definir el diseño del contenedor como "flexible"
    Esta propiedad transforma a todos los elementos Hijos en etiquetas de linea.
    
    Ej: <h1>, <p> & <img> son etiquetas de bloque, pero al aplicarle esta propiedad al Padre
    todo se transforma en etiquetas de linea.
    
    ┌───tag Padre───────────────┐
    │┌───────┐┌───────┐┌───────┐│
    ││  tag  ││  tag  ││  tag  ││
    ││ <h1>  ││  <p>  ││ <img> ││
    │└───────┘└───────┘└───────┘│
    └───────────────────────────┘ 

: : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :

▼ flex-direction: row;

    ┌───tag Padre──────────────────────────────────────────────────┐
    │┌───────┐┌───────┐┌───────┐                                   │
    ││  tag  ││  tag  ││  tag  │                                   │
    ││ <h1>  ││  <p>  ││ <img> │                                   │
    │└───────┘└───────┘└───────┘                                   │
    └──────────────────────────────────────────────────────────────┘ 

▼ flex-direction: row-reverse;

    ┌───tag Padre──────────────────────────────────────────────────┐
    │                                   ┌───────┐┌───────┐┌───────┐│
    │                                   │  tag  ││  tag  ││  tag  ││
    │                                   │ <img> ││  <p>  ││ <h1>  ││
    │                                   └───────┘└───────┘└───────┘│
    └──────────────────────────────────────────────────────────────┘ 

▼ flex-direction: column;            ▼ flex-direction: column-reverse;

    ┌───tag Padre────────────────┐    ┌───tag Padre────────────────┐
    │┌───────┐                   │    │                            │
    ││  tag  │                   │    │                            │
    ││ <h1>  │                   │    │┌───────┐                   │
    │└───────┘                   │    ││  tag  │                   │
    │┌───────┐                   │    ││ <img> │                   │
    ││  tag  │                   │    │└───────┘                   │
    ││  <p>  │                   │    │┌───────┐                   │
    │└───────┘                   │    ││  tag  │                   │
    │┌───────┐                   │    ││  <p>  │                   │
    ││  tag  │                   │    │└───────┘                   │
    ││ <img> │                   │    │┌───────┐                   │
    │└───────┘                   │    ││  tag  │                   │
    │                            │    ││ <h1>  │                   │
    │                            │    │└───────┘                   │
    └────────────────────────────┘    └────────────────────────────┘ 

: : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :

▼ justify-content: flex-star;

    ┌───tag Padre──────────────────────────────────────────────────┐
    │┌───────┐┌───────┐┌───────┐                                   │
    ││  tag  ││  tag  ││  tag  │                                   │
    ││ <h1>  ││  <p>  ││ <img> │                                   │
    │└───────┘└───────┘└───────┘                                   │
    └──────────────────────────────────────────────────────────────┘ 

▼ justify-content: flex-end;

    ┌───tag Padre──────────────────────────────────────────────────┐
    │                                   ┌───────┐┌───────┐┌───────┐│
    │                                   │  tag  ││  tag  ││  tag  ││
    │                                   │ <h1>  ││  <p>  ││ <img> ││
    │                                   └───────┘└───────┘└───────┘│
    └──────────────────────────────────────────────────────────────┘ 

▼ justify-content: center;

    ┌───tag Padre─────────────────────────────────────────────────┐
    │                 ┌───────┐┌───────┐┌───────┐                 │
    │                 │  tag  ││  tag  ││  tag  │                 │
    │                 │ <h1>  ││  <p>  ││ <img> │                 │
    │                 └───────┘└───────┘└───────┘                 │
    └─────────────────────────────────────────────────────────────┘ 


▼ justify-content: space-between;

    ┌───tag Padre─────────────────────────────────────────────────┐
    │┌───────┐                 ┌───────┐                 ┌───────┐│
    ││  tag  │                 │  tag  │                 │  tag  ││
    ││ <h1>  │                 │  <p>  │                 │ <img> ││
    │└───────┘                 └───────┘                 └───────┘│
    └─────────────────────────────────────────────────────────────┘
.             ←――――――――――――――――→       ←――――――――――――――――→

▼ justify-content: space-around;

    ┌───tag Padre─────────────────────────────────────────────────┐
    │    ┌───────┐             ┌───────┐             ┌───────┐    │
    │    │  tag  │             │  tag  │             │  tag  │    │
    │    │ <h1>  │             │  <p>  │             │ <img> │    │
    │    └───────┘             └───────┘             └───────┘    │
    └─────────────────────────────────────────────────────────────┘
.    ←―――→        ←――――――――――――→       ←――――――――――――→        ←―――→

▼ justify-content: space-evenly;

    ┌───tag Padre─────────────────────────────────────────────────┐
    │        ┌───────┐         ┌───────┐         ┌───────┐        │
    │        │  tag  │         │  tag  │         │  tag  │        │
    │        │ <h1>  │         │  <p>  │         │ <img> │        │
    │        └───────┘         └───────┘         └───────┘        │
    └─────────────────────────────────────────────────────────────┘
.   ←―――――――→         ←―――――――→         ←―――――――→         ←―――――――→

: : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :

▼ align-content:

.         flex-star;               center;                flex-end;
    ┌───────────────────┐   ┌───────────────────┐   ┌───────────────────┐
    │████ ██████ ████   │   │                   │   │                   │
    │██████████ ████    │   │████ ██████ ████   │   │                   │
    │██ ████ █ ███████  │   │██████████ ████    │   │████ ██████ ████   │
    │                   │   │██ ████ █ ███████  │   │██████████ ████    │
    │                   │   │                   │   │██ ████ █ ███████  │
    └───────────────────┘   └───────────────────┘   └───────────────────┘

.       space-between           space-around                strech
    ┌───────────────────┐   ┌───────────────────┐   ┌───────────────────┐ 
    │████ ██████ ████   │   │                   │   │████ ██████ ████   │ 
    │                   │   │████ ██████ ████   │   │████ ██████ ████   │ 
    │                   │   │                   │   │██████████ ████    │ 
    │██████████ ████    │   │██████████ ████    │   │██████████ ████    │ 
    │                   │   │                   │   │██ ████ █ ███████  │ 
    │                   │   │██ ████ █ ███████  │   │██ ████ █ ███████  │ 
    │██ ████ █ ███████  │   │                   │   │██ ████ █ ███████  │ 
    └───────────────────┘   └───────────────────┘   └───────────────────┘

: : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :

▼ align-items:

.         flex-star;                center;                flex-end;
    ┌───────────────────┐   ┌───────────────────┐   ┌───────────────────┐
    │████ ██████ ██ ████│   │                   │   │                   │
    │████ ██████    ████│   │     ██████    ▄▄▄▄│   │                   │
    │     ██████    ████│   │████ ██████ ▄▄ ████│   │     ██████        │
    │     ██████        │   │████ ██████ ▀▀ ████│   │     ██████    ████│
    │                   │   │     ██████    ▀▀▀▀│   │████ ██████    ████│
    │                   │   │                   │   │████ ██████ ██ ████│
    └───────────────────┘   └───────────────────┘   └───────────────────┘
.              strech;                      baseline;
        ┌───────────────────┐      ┌───────────────────────┐
        │████ ██████ ██ ████│      │                 ▄▄▄▄▄ │
        │████ ██████ ██ ████│      │ ████ ▄▄▄▄▄▄     █████ │
        │████ ██████ ██ ████│      │_█AB█_██CD██_█E█_█FGH█_│
        │████ ██████ ██ ████│      │ ████ ██████ ▀▀▀ █████ │
        │████ ██████ ██ ████│      │      ██████           │
        │████ ██████ ██ ████│      │                       │
        └───────────────────┘      └───────────────────────┘

: : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :

▼ flex-grow: #;                                             grow = Crecer / Aumentar

    ┌────────────────────────────────────┐ ┌────────────────────────────────────┐
    │┌──────────┐┌──────────┐┌──────────┐│ │┌───────┐┌────────────────┐┌───────┐│
    ││     1    ││     1    ││     1    ││>││   1   ││        2       ││   1   ││
    │└──────────┘└──────────┘└──────────┘│ │└───────┘└────────────────┘└───────┘│
    └────────────────────────────────────┘ └────────────────────────────────────┘

: : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :

▼ flex-shrink: #;                                        shrink = Encoger / Disminuir

    ┌────────────────────────────────────┐ ┌────────────────────────────────────┐
    │┌──────────┐┌──────────┐┌──────────┐│ │┌──────────────┐┌─────────┐┌───────┐│
    ││     1    ││     1    ││     1    ││>││       1      ││    2    ││   3   ││
    │└──────────┘└──────────┘└──────────┘│ │└──────────────┘└─────────┘└───────┘│
    └────────────────────────────────────┘ └────────────────────────────────────┘


: : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :

▼ flex-wrap: nowrap;                                        wrap = Envolver / Embalar
    
    ┌───tag Padre─────────────────────┐
    │┌───────┐┌───────┐┌───────┐┌─────┼─┐┌───────┐
    ││  tag  ││  tag  ││  tag  ││  tag│ ││  tag  │
    ││ <h1>  ││  <p>  ││ <img> ││ <h2>│ ││  <p>  │
    │└───────┘└───────┘└───────┘└─────┼─┘└───────┘
    └─────────────────────────────────┘

▼ flex-wrap: wrap;                         ▼ flex-wrap: wrap-reverse;

    ┌───tag Padre─────────────────────┐     ┌───tag Padre─────────────────────┐
    │┌────────┐┌────────┐┌────────┐   │     │             ┌────────┐┌────────┐│
    ││   tag  ││   tag  ││   tag  │   │     │             │   tag  ││   tag  ││
    ││  <h1>  ││   <p>  ││  <img> │   │     │             │   <p>  ││  <h2>  ││
    │└────────┘└────────┘└────────┘   │     │             └────────┘└────────┘│ 
    │┌────────┐┌────────┐             │     │   ┌────────┐┌────────┐┌────────┐│ 
    ││   tag  ││   tag  │             │     │   │   tag  ││   tag  ││   tag  ││ 
    ││  <h2>  ││   <p>  │             │     │   │  <img> ││   <p>  ││  <h1>  ││ 
    │└────────┘└────────┘             │     │   └────────┘└────────┘└────────┘│ 
    └─────────────────────────────────┘     └─────────────────────────────────┘ 

______________________________________________________________________________________________________________

    ▼ flex:                 Flexible
    Esta es la abreviatura de las propiedades combinadas de crecimiento flexible, contracción flexible y base flexible.

    flex : (flex-grow) (flex-shrink) (flex-basis) ;
    flex : 2 1 30em;

-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

    ▼ flex-flow:            Flujo
    Esta es la abreviatura de las propiedades de dirección flexible y envoltura flexible.

    flex-flow : (flex-direction) (flex-wrap) ;
    flex-flow : row wrap;

-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -

    ▼ place-content:        Lugar de contenido
    Esta es la abreviatura de las propiedades justificar-contenido y alinear-contenido
    
    place-content: (align-content) (justify-content);
    place-content: center flex-end;

-  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
*/

/* div [class ^="box-"] */



.contenedor-general {
    width: 100%;
    background-color: #243443;
    padding-top: 60px;
    padding: 60px 10px;
}

.contenedor-general-interno {
    max-width: 800px;
    background-color: #ffffff;
    border: 2px solid #00ffff;
    margin: 0 auto;
    padding: 40px;
}

/* Optimizar la fuente de los titulos que se repetirán */

.header-title {
    font-weight: bold;
    text-align: center;
}
.hr-1 {
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #00ffff;
}

.h-level-1 {
    font-size: 36px;
}
.h-level-2 {
    font-size: 30px;
    font-weight: lighter;
    padding: 10px 0;
}
.h-level-3 {
    font-size: 22px;
}

.test {
    display: flex;
    justify-content: flex-start;
}

.test-1 {
    background-color: #0062ff40;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.test-2 {
    background-color: #33ff0040;
    width: 100%;
    height: auto;
}

.c-title {
    padding: 10px 0;
}

.container {
    border: 1px solid #0062ff60;
    padding: 10px;
    margin: 20px 0;
}

.c1 {
    display: flex;
    justify-content: flex-start;
}

.c2 {
    display: flex;
    justify-content: center;
}

.c3 {
    display: flex;
    justify-content: flex-end;
}

.c4 {
    display: flex;
    justify-content: center;
}

.c5 {
    display: flex;
    justify-content: center;
}

.c6 {
    display: flex;
    justify-content: flex-end;
}

.box {
    background-color: #ff4500;
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 5px;
}

.code {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
}

.code-in {
    padding: 24px 0;
    margin: 22px 0;
}

.container .c4 {
    display: block;
    height: 900px;
}

